<div *ngFor="let step of steps" [ngClass]="{'location': step.type===questType.location, 'boss': step.type===questType.boss}" class="quest-list">
  <div *ngIf="step.visible()">
    <mat-checkbox *ngIf="step.type!==questType.location" [(ngModel)]="step.completed">{{step.description}}</mat-checkbox>
    <label *ngIf="step.type===questType.location">{{step.description}}</label>
    <mat-chip-list aria-label="Tags" class="chips">
      <mat-chip *ngFor="let tag of step.tags" selected style="background-color:{{tag.colour}}">
        {{tag.value}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>

