/* You can add global styles to this file, and also import other style files */

html, body { height: fit-content; }
body { margin: 0; font-family: "Segoe UI", "Helvetica Neue", sans-serif; }

.mat-chip-list-wrapper {
  display: inline !important;
}

.mat-standard-chip {
  min-height: 24px !important;
}

.mat-checkbox-label {
  white-space: normal !important;
}

.boss {
  padding-top: 16px;

  .mat-checkbox-label {
    font-size: 24px;
  }
}

.location {
  padding-top: 16px;

  label {
    font-weight: bold;
  }
}

.chips {
  margin-left: 8px;
}

.quest-list {
  margin-left: 24px;
}

.heading {
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  box-shadow: 0px -19px 11px 19px rgba(0,0,0,0.5);

  h1 {
    flex-grow: 1;
  }
}

.toggles-main {
  display: flex;
  flex-direction: column;
}

.toggles-actions {
  margin-top: 16px;
}

.toggles-secondary-actions {
  display: flex;
  flex-direction: row-reverse;
}
