<mat-slide-toggle [(ngModel)]="questFilterService.leonhardIsVisible">Ringfinger Leonhard</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.greiratIsVisible">Greirat of the Undead Settlement</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.hawkwoodIsVisible">Hawkwood the Deserter</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.yoelIsVisible">Yoel/Yuria of Londor</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.cornyxIsVisible">Cornyx of the Great Swamp</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.irinaIsVisible">Irina of Carim</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.irinaGoodEndIsVisible">Irina of Carim - Good Ending</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.siegwardIsVisible">Siegward of Catarina</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.anriIsVisible">Anri of Astora</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.anriBadEndIsVisible">Anri of Astora - Bad Ending</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.anriGoodEndIsVisible">Anri of Astora - Good Ending</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.sirrisIsVisible">Sirris of the Sunless Realms</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.orbeckIsVisible">Orbeck of Vinheim</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.karlaIsVisible">Karla</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.lappIsVisible">Amnesiac Lapp</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.ashesOfAriandelIsVisible">Ashes of Ariandel</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="questFilterService.theRingedCityIsVisible">The Ringed City</mat-slide-toggle>
